.section-one {
  width: auto;
  background-image: linear-gradient(to right, #23b0cb 0%, #088aa4 100%);
}
.wrapper {
  padding: 8rem 2rem !important;
  color: white;

  @include breakpoint(large) {
    padding: 8rem 6rem !important;
  }

  .main-title h1 {
    letter-spacing: 0.02rem;
    font-size: 2.2rem !important;

    @include breakpoint(large) {
      font-size: 5rem !important;
      letter-spacing: 0.2rem;
    }
  }

  .sub-title {
    display: flex;
    align-content: center;

    h5 {
      margin-top: 1rem;
      font-size: 1rem !important;
      letter-spacing: 0.2rem;
      color: rgb(208, 231, 235);

      @include breakpoint(large) {
        margin-top: 2rem;
        font-size: 2rem !important;
        letter-spacing: 0.2rem;
      }
    }
  }

  .right-arrow {
    display: flex;
    font-size: 2rem;
    margin-left: 8.5rem;
    @include breakpoint(large) {
      display: flex;
      font-size: 4rem;
      margin-left: 30rem;
    }
  }
}
